@CHARSET "UTF-8";
* {
    font-family: Arial;
    font-style: italic;
}

body {
	background-color:#eeeeee;
	color:#212121;
}

#container {
	z-index:-1;
	width: 85%;
	height: 80%;
	position:absolute;
	border:none;
}

:focus { outline: none; }

#loadStatus {
	width: 95%;
	height: 6%;
	top: 200px;
	text-align:center;
	position:absolute;
}

#prompt {
	width: 95%;
	height: 6%;
	bottom: 30px;
	text-align:center;
	position:absolute;
}

#listing {
	width: 256px;
	height: 40%;
	top: 30px;
	left: 30px;
	text-align:center;
	position:absolute;
}

#stats {
	font-size:12px;
	font-weight:bold;
	border:1px solid;
	width: 15%;
	height: 60px;
	right: 2%;
	top: 30px;
	position:absolute;
}

#render_stats {
	padding-top: 3px;
	padding-left: 3px;
}

#scene_stats {
	padding-left: 3px;
}

#cameras {
	font-size:12px;
	font-weight:bold;
	border:1px solid;
	width: 15%;
	height: 120px;
	right: 2%;
	top: 100px;
	position:absolute;
}

#cameras_list {
	width: 100%;
}

#camera_controls {
	padding-left: 3px;
}

#lights {
	font-size:12px;
	font-weight:bold;
	border:1px solid;
	width: 15%;
	height: 120px;
	right: 2%;
	top: 240px;
	position:absolute;
}

#lights_list {
	width: 100%;
}

#light_controls {
	padding-left: 3px;
}

#animations {
	font-size:12px;
	font-weight:bold;
	border:1px solid;
	width: 15%;
	height: 200px;
	right: 2%;
	top: 360px;
	position:absolute;
}

#animations_list {
	width: 100%;
}

#animation_controls {
	padding-left: 3px;
}

#misc {
	font-size:12px;
	font-weight:bold;
	border:1px solid;
	width: 15%;
	height: 40px;
	right: 2%;
	top: 580px;
	position:absolute;
}

#misc_controls {
	padding-left: 3px;
}

#overlay {
	border:none;
	position:absolute;
}